<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MxFlow</title>
    <link href="{{ url_for('static', path='/assets/vendor/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body id="app">
    {% include 'includes/navigation.html' %}
    <main id="mainContainer" class="p-3">
        <canvas id="myChart" width="400" height="400"></canvas>
        ${ this.varNames }
    </main>
    <script src="{{ url_for('static', path='/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='/assets/vendor/jquery/dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/assets/vendor/vue@3/dist/js/vue.global.js') }}"></script>
    <!-- <script src="{{ url_for('static', path='/assets/vendor/bokeh/dist/js/bokeh-2.4.3.min.js') }}"></script>
    <script src="{{ url_for('static', path='/assets/vendor/bokeh/dist/js/bokeh-gl-2.4.3.min.js') }}"></script>
    <script src="{{ url_for('static', path='/assets/vendor/bokeh/dist/js/bokeh-widgets-2.4.3.min.js') }}"></script>
    <script src="{{ url_for('static', path='/assets/vendor/bokeh/dist/js/bokeh-tables-2.4.3.min.js') }}"></script>
    <script src="{{ url_for('static', path='/assets/vendor/bokeh/dist/js/bokeh-mathjax-2.4.3.min.js') }}"></script>
    <script src="{{ url_for('static', path='/assets/vendor/bokeh/dist/js/bokeh-api-2.4.3.min.js') }}"></script> -->
    {% include 'components/main.html' %}
</body>

</html>